services:
  db:
    image: postgres:15
    container_name: smart-valuator-db
    environment:
      POSTGRES_DB: smartvaluator
      POSTGRES_USER: smartvaluator
      POSTGRES_PASSWORD: smartvaluator
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./resources/schema.sql:/docker-entrypoint-initdb.d/schema.sql

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  pgdata:
